*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
  font-family: 'Segoe UI', sans-serif;
  background-color: #191341;
  color: #fff;
}
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  background-color: #2c2540;
}

.logo {
  font-size: 24px;
  font-weight: bold;
}

.nav-links {
  display: flex;
  gap: 20px;
  list-style: none;
}

.nav-links a {
  color: #fff;
  text-decoration: none;
}
.subscribe-btn,
.spotify {
 background-image: linear-gradient(45deg, #F7E93F, #FB09B4, #9100F8);
  border: none;
  border-radius: 30px;
  padding: 10px 20px;
  color: #fff;
  cursor: pointer;
  font-size: 16px;
  align-items: center;
  justify-content: center;
  display: flex;
  gap: 8px;
}
.Arrow-img{
    height: 20px;
    width: 20px;
    object-fit: contain;
}
nav>span{
    display: none;
}
/* banner section */
#banner{ 
    background-image:url(../assets/hero-bg.png);
    height: 760px;
    width: 100%;
}
.microphone{
    position: absolute;
    left: 740px;
    bottom: 310px;
}
.circle>img{
    position: relative;
    right: -625px;
    top: 100px;
    margin-bottom: 70px;
}
.content{
    height: 10.5rem;
    margin-top: 4rem;
}
.content > h2 {
    font-size: 3.8rem;
    font-weight: 700;
    text-align: center;
}

.content > p {
    font-size: 1rem;
    opacity: 0.8;
    text-align: center;
}
.btn{
    display: flex;
    justify-content: center;
    margin-top: 1.8rem;
    gap: 8px;
}
.Subscribe{
    background-color: transparent;
    color: #00FF88;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1rem;
    padding: 10px 20px;
    border:1px solid #00FF88;
    border-radius: 30px;
    gap: 8px;
    cursor: pointer;
}

/* About the podcast */

.About-container{
    height: 646px;
    width: 100%;
}
.About {
    height: 222px;
    width: 100%;
    margin: 0 auto;
    margin-top: 50px;
}
.About>h2{
    color: #FFFFFF;
    font-size: 3rem;
    font-weight: 600;
    text-align: center;
    margin: 0 auto;
    margin-bottom: 16px;
}
.blank{
    border: 1px solid #1e093a;
    margin-left: 12%;
    margin-right: 12%;
}
.About > p {
    font-size: 16px;
    margin: 0 auto;
    text-align: center;
    opacity: 0.8;
    margin-bottom: 3.9rem;
}
.card{
    border: 2px solid green;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 16px;
    margin-top: 80px;
}
.box-1,
.box-2,
.box-3,
.box-4 {
    width: 240px;
    height: 94px;    
}
.box-1 > h2{
    padding-left: 15px;
}
.box-1 > h2,
.box-2 > h2,
.box-3 > h2,
.box-4 > h2 {
    font-size: 3rem;
    color: #00FF88;
    text-align: center;
    margin: 0;
}
.box-1 p,
.box-2 p,
.box-3 p,
.box-4 p {
    color: #FFFFFF;
    font-size: 1rem;
    line-height: 20px;
    opacity: 80%;
    text-align: center;
    margin: 6px 0 0 0;
    word-spacing: 5px;
} 
/* Section Why Choose TechWave */

.why-choose{
    height: 1121px;
    width: 100%;
}
.Why-Choose-content>h3 {
    color: #FFFFFF;
    font-size: 2.8rem;
    font-weight: 600;
    text-align: center;
    margin: 0 auto;
    margin-bottom: 1rem;
}
.grid {
    display: grid;
    grid-template-columns: repeat(5, 1fr);

}











/* responsive design  */
@media screen and (max-width:576px) {
    .menu-container{
        display: none;
    }
    nav>span{
    display: inline;
}
    
}